*.log
/manual/
*-*.txt
**/styles.css
Software_Requirement_Specification/*  !Software_Requirement_Specification/SRS_final.docx 
Software_Design_Document/* !Software_Design_Document/ !SDD_final.docx
final_project
**/README * !README!